--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.135.2
uvicorn[standard]==0.42.0

pandas==2.1.4
numpy==1.26.4
scikit-learn==1.7.2
joblib==1.5.3

torch==2.2.1+cpu

transformers==4.57.6
accelerate==1.13.0
huggingface-hub==0.36.2
tokenizers==0.22.2

chronos-forecasting==2.2.2